body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.spacer {  margin-top: 100px; margin-left: 150px; }


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.panel .no-pad {
    padding: 0;
    margin: 10px;
}
.panel.Ancestry .panel-heading {
    background-color: #d6e9c6;
    background-image: none;
    /*color: #fff;
    min-height: 72px;*/
}

.panel.Newspapers .panel-heading {
    background-color: 	#7ec2ec;
    background-image: none;
}

.panel.FindAGrave .panel-heading {
    background-color: 	hotpink;
    background-image: none;
}

.panel.Archives .panel-heading {
    background-color: silver;
    background-image: none;
}

.panel.Fold3 .panel-heading {
    background-color: #c73c01;
    background-image: none;
}

.panel.FamilySearch .panel-heading {
    background-color: #428bca;
    background-image: none;
    color: #fff;
    min-height: 72px;
}

.panel.FindMyPast .panel-heading {
    background-color: #faebcc;
    background-image: none;
    min-height: 72px;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

.center-block.lrg {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-block.lrg h1, .center-block.lrg h3 {
    text-align:center;
}

.large-icon {
    font-size: 20rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform-origin: 50% 39%;
    transform-origin:50% 39%;
    -ms-transform-origin:50% 39%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav.nav-sidebar li h3 {
    text-align: center;
}

.nav.nav-sidebar li {
    padding-left: 10px;
}

.panel-heading img {
    float: left;
    max-width: 20px;
    margin-right: 10px;
}

.glyphicon.lrg {
    font-size: 5rem;
    color: #999;
}

.panel-title {
    display: flex;
}

.panel-body {
    min-height: 170px;
}

.row .panel-body::after,
.row .panel-body::before {
        display: block;
    }

.panel-body::after {
    opacity: 0.6;
    top: 137px;
    left: 155px;
    bottom: 0;
    right: 10px;
    position: absolute;
    z-index: 1;
}

.panel-body.Ancestry,
.panel-body.Archives,
.panel-body.FindAGrave,
.panel-body.Newspapers,
.panel-body.Fold3,
.panel-body.FamilySearch,
.panel-body.FindMyPast,
.panel-body.MyHeritage,
.panel-body.Geni,
.panel-body.NationalArchives,
.panel-body.EllisIsland,
.panel-body.IrishGenealogy,
.panel-body.NationalLibrary
 {
    position: relative;
    display: block;
}

.panel-body.Ancestry::after {
    content: "";
    background: url(img/Ancestry50.jpg) no-repeat;
}

.panel-body.FindAGrave::after {
    content: "";
    background: url(img/FindAGrave50.jpg) no-repeat;
}

.panel-body.Archives::after {
    content: "";
    background: url(img/ArchivesLogo.png) no-repeat;
}

.panel-body.Newspapers::after {
    content: "";
    background: url(img/NewspapersLogo.png) no-repeat;
}

.panel-body.Fold3::after {
    content: "";
    background: url(img/Fold3Logo.png) no-repeat;
}

.panel-body.FamilySearch::after {
    content: "";
    background: url(img/FamilySearch50.jpg) no-repeat;
}

.panel-body.FindMyPast::after {
    content: "";
    background: url(img/FindMyPast50.jpg) no-repeat;
}

.panel-body.MyHeritage::after {
    content: "";
    background: url(img/MyHeritage50.jpg) no-repeat;
}

.panel-body.NationalArchives::after {
    content: "";
    background: url(img/NationalArchives50.jpg) no-repeat;
}

.panel-body.Geni::after {
    content: "";
    background: url(img/Geni50.jpg) no-repeat;
}

.panel-body.EllisIsland::after {
    content: "";
    background: url(img/EllisIsland50.jpg) no-repeat;
    margin-left: 50px;
}

.panel-body.IrishGenealogy::after {
    content: "";
    background: url(img/irishGenealogy50.jpg) no-repeat;
}

.panel-body.NationalLibrary::after {
    content: "";
    background: url(img/NationalLibrary50.jpg) no-repeat;
    margin-left: 50px;
}

.glyphicon.head-icon {
    font-size: 30px;
    right: 30px;
    top: 15px;
    color: #999;
    position: absolute;
}

.row.panel-accounts {
    padding: 20px;
}




.panel-accounts .panel.Ancestry .panel-heading ,
.panel-accounts .panel.FamilySearch .panel-heading,
.panel-accounts .panel.FindMyPast .panel-heading {
    min-height: 30px;
}

.drop-area {
    width: 95%;
    height: 260px;
    background-image: radial-gradient(center center, circle cover, #ffeda3, #ffc800);
	background-image: -o-radial-gradient(center center, circle cover, #ffeda3, #ffc800);
	background-image: -ms-radial-gradient(center center, circle cover, #ffeda3, #ffc800);
	background-image: -moz-radial-gradient(center center, circle cover, #ffeda3, #ffc800);
	background-image: -webkit-radial-gradient(center center, circle cover, #ffeda3, #ffc800);
    border-radius:540%;
    margin-left: 15px;
}

.drop-area h3 {
  font: 26px Monaco, MonoSpace;
  padding-top: 95px;
  text-align: center;
}

.img-name,
.img-place,
.img-manage,
.img-date
 {
    top: 40px;
    position: absolute;
}

.img-name {
    left: 41px;
}

.img-place {
    left: 263px;
}

.img-date {
    left: 485px;
}

.img-manage {
    right: 0px;
}