body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.panel .no-pad {
    padding: 0;
    margin: 5px;
}
.panel.Ancestry .panel-heading {
    background-color: #d6e9c6;
    background-image: none;
}

.panel.FindMyPast .panel-heading {
    background-color: #428bca;
    background-image: none;
    color: #fff;
}

.panel.MyHeritage .panel-heading {
    background-color: #faebcc;
    background-image: none;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

.center-block.lrg {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-block.lrg h1, .center-block.lrg h3 {
    text-align:center;
}

.large-icon {
    font-size: 20rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform-origin: 50% 39%;
    transform-origin:50% 39%;
    -ms-transform-origin:50% 39%; /* IE 9 */
    -webkit-animation: spin .9s infinite linear;
    -moz-animation: spin .9s infinite linear;
    -o-animation: spin .9s infinite linear;
    animation: spin .9s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav.nav-sidebar li h3 {
    text-align: center;
}

.nav.nav-sidebar li {
    padding-left: 10px;
}

.panel-heading img {
    float: left;
    max-width: 20px;
    margin-right: 10px;
}